#finalheader {
    background-color: #0A5286;
    margin: 0px;
    padding: 0px;
    height: 150px;
    width: 1100px;
}
.subheaderSection {
    background-color: #732F06;
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 1100px;
}
.StepButtons {
    background-color: #122386;
    margin: 0px;
    padding: 0px;
    height: 300px;
    width: 200px;
}
#step0 {
    background-color: #663804;
    margin: 0px;
    padding: 0px;
    height: 6000px;
    width: 500px;
}
body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}